:root {
  --w-block-tip-bg: rgba(100, 108, 255, .08);
  --w-block-tip-text: #454ce1;
}

.dark {
  --w-block-tip-border: #747bff;
  --w-block-tip-text: #bcc0ff;

  --w-block-details-border: #585656;
  --w-block-details-bg: #262626;
}

/**
   * Component: Custom Block
   * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--w-block-tip-border);
  --vp-custom-block-tip-text: var(--w-block-tip-text);
  --vp-custom-block-tip-bg: var(--w-block-tip-bg);

  --vp-custom-block-details-border: var(--w-block-details-border);
  --vp-custom-block-details-bg: var(--w-block-details-bg);

  --vp-custom-block-danger-border: #ff6e6e;
}
/* 首页标题样式 */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe, #41d1ff);
}

/* .medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
} */

.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: transparent;
  transition: border-color 0.25s;
}
@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }
}
@media (max-width: 768px) {
  .DocSearch-Button-Keys {
    display: none;
  }
  .VPNavBarHamburger {
    height: 32px !important;
    width: 32px !important;
    border-radius: 4px;
  }
}

.DocSearch-Button:hover {
  border-color: var(--w-block-tip-border);
}